
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #fff;
  color: #333;
}

.container {
  display: flex;
  gap: 10px; 
}


.left {
  flex: 1;
  padding: 20px;
  background-color: #47b8fe;
  box-sizing: border-box;
}

.right {
  flex: 2;
  padding: 20px;
  background-color: #fafafa;
  box-sizing: border-box;
}

.hr{
  border-bottom: 2px solid #333;
}

img{
    width: 200px; height:200px;
    margin: auto;
    display: flex;
}
