
nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #1c87c9;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #145e8a;
}
